<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Spectrum.Username" value="yourusername" />
  <add key="Spectrum.Password" value="yourpassword" />
  
  <!-- Get your device id by looking for the _rsi_device cookie in your browser -->
  <!-- If you don't have 2FA enabled on your account, you can remove this value -->
  <add key="Spectrum.DeviceId" value="look-for-_rsi_device-cookie" />
</appSettings>
